*{
    border-radius: 5px;
    /*width: 120px;*/
   /*background-color: #f17d7d;*/
}
/*body{
   background-color: rgb(180, 196, 196);
}*/
.f1{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px;
}
.f2{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px; 
}
.f3{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px;
}
.f4{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px;
}
.f5{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px;
}
.f6{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px;
}
.f6{
    width : 120px;
    height : 5px;
    border : 5px;
    margin : 5px;
    padding : 10px;
}