.div1{
	height:100px;
	background-image:url("paper.gif");
}
.div2{
	height:100px;
	background-image:url("paper.gif");
	background-repeat: no repeat;
}
.div3{
	height:100px;
	background-image:url("paper.gif");
	background-repeat: repeat-x;
}
.div4{
	height:100px;
	background-image:url("paper.gif");
	background-repeat: repeat-x;
	background-position: left;
}
